<launch>
  <node pkg="saisun3d" type="vscener.py" name="" output="screen" />
  <node pkg="rovi" type="floats2pc" name="" args="base">
    <remap from="floats" to="/virtual/scene_floats" />
    <remap from="pc" to="/sensors/scene_pc" />
  </node>
  <node pkg="saisun3d" type="vcam.py" name="" output="screen" >
    <remap from="scene_floats" to="/virtual/scene_floats" />
  </node>
  <node pkg="saisun3d" type="vjogger.py" name="" />
  <node pkg="saisun3d" type="phoxi.py" name="" />
</launch>
