<launch>
  <node pkg="saisun3d" type="vscener.py" name="" output="screen" />
  <node pkg="saisun3d" type="vcam.py" name="" output="screen" >
    <remap from="~scene_pc2" to="/virtual/scene_pc2" />
  </node>
  <node pkg="saisun3d" type="phoxi.py" name="" />
  <node pkg="saisun3d" type="work.py" name="" />
</launch>
